doctype html
html 
    head 
        title Nityam Dance Academy
        block scripts 
        block style 
        body 
            nav#navbar 
                ul 
                    div#logo 
                        img(src="/static/img/logo.jpg")
                    li #[a(href="/") Home] 
                    li #[a(href="/courses") Courses] 
                    li #[a(href="/contact") Start Dancing] 
                    li #[a(href="/aboutus") About us] 
                    li #[a(href="/feedback") Feedback] 
            block content 
            footer#footer 
                div.aboutfooter 
                    p#footerhead About Nityam Dance Academy 
                    p Address: Plot No:27, NV Singh Road, Near Mayur
                    p Cultural Theatre, Andheri(East), Mumbai 400069
                    p Email: nityamdances@gmail.com
                div.coyrightfooter 
                    p Copyright © 2023 All Rights Reserved with Nityam Dance Academy 