extends base.pug 

block scripts 
    script(src='/static/index.js')

block style 
    style 
         include ../static/style.css 
         include ../static/styleCourses.css 

block content 
    section.part1 
        div.dance_card 
            div.dance_heading 
                p Bharathanatyam
            div.dance-content 
                img(src="/static/img/dance1.jpg")
                div.dance-para
                    p.para1 Oldest among all classical dance forms Bharatnatyam derives its
                    p name from Bharata Muni.The origins of this dance form can be traced back from Sadir the solo dance performance of the temple dancers. In this dance form, equal emphasis is given on both the Tandava and Lasya aspects of dance, with major emphasis on mudras. Katak Mukh Hast” is a major Mudra in which the ॐ is displayed with the help of three fingers. Bharatnatyam is often referred to as the fire dance‟, as it is the manifestation of the element of fire in the human body. Come on Join us by registering on below link
            div.dance-link
                a(href="/contact") Register Now
        hr
        div.dance_card 
            div.dance_heading 
                p Kuchipudi
            div.dance-content 
                div.dance-para
                    p.para1 Kuchipudi was originally performed by group of actors going 
                    p from village to village, known a Kusselavas Kuchipudi derives its name from the Andhra village of Kusselavapuri or Kuchelapuram. In 17th century, Siddhendra Yogi formalized and systematized the tradition.Stories of Bhagavat purana became a central theme of the recitals.There is a predominance of Shringaara ras. Solo elements in Kuchipudi are: 
                    strong.str Manduk shabdam 
                    |(Tells the story of a frog) 
                    strong.str Tarangam 
                    |(The dancer performs with his/ her feet on the edges of a brass plate and balancing a pot of water on the head or a set of diyas) 
                    strong.str Jala Chitra Nrityam
                    |(dancer draws pictures on the floor with his or her toes while dancing)
                img(src="/static/img/dance2.jpg")
            div.dance-link
                a(href="/contact") Register Now
        hr 
        div.dance_card 
            div.dance_heading 
                p Kathakali
            div.dance-content 
                img(src="/static/img/dance3.jpg")
                div.dance-para
                    p.para1 Ramanattam and Krishnattam Two separate dance forms evolved 
                    p and became the source of Kathakali under the patronage of feudal lords. Narrating episodes from Ramayana and Mahabharata. Kathakali is essentially an all-male troupe performance.There is minimal use of prop in the Kathakali recital. Language used in songs is Manipravalam. Elaborate facial make up along with a head gear is used. Kathakali is remarkable in the representation of the rasas through movements of eye and eye brows. Kathakali symbolizes the element of sky or ether.
            div.dance-link
                a(href="/contact") Register Now
        hr 
        div.dance_card 
            div.dance_heading 
                p Mohiniattam
            div.dance-content 
                div.dance-para
                    p.para1 Mohiniattam or the Dance of an Enchantress. Mohini meaning 
                    p beautiful woman and attam means dance is essentially a solo dance performance by women. It was further developed by Vadivelu in 19th century and gained prominence under the rulers of Travancore in the present state of Kerala. Generally narrates the story of the feminine dance of Lord Vishnu. The Lasya aspect (beauty, grace) of dance is dominant in a Mohiniattam recital.The element of air is symbolised through Mohiniattam performance.Mohiniattam combines the grace and elegance of Bharatnatyam with the vigour of Kathakali.
                img(src="/static/img/dance4.jpg")
            div.dance-link
                a(href="/contact") Register Now
        hr 
        div.dance_card 
            div.dance_heading 
                p Odissi
            div.dance-content 
                img(src="/static/img/dance5.jpg")
                div.dance-para
                    p.para1 The caves of Udayagiri-Khandagiri provide some of the earliest 
                    p examples of Odissi dance. The dance form derives its name from the Odranritya‟ mentioned in Natya Shastra. Patronised by the Jain king Kharvela. Odissi gained international acclaim due to the efforts of Charles Fabri and Indrani Rehman. The tribhanga posture, i.e. the three-bended form of the body is innate to Odissi dance form. The dancers create intricate geometrical shapes and patterns with her body. The dance form symbolises the element of water. Odissi dance is accompanied by Hindustani classical music.
            div.dance-link
                a(href="/contact") Register Now
        hr 
        div.dance_card 
            div.dance_heading 
                p Manipuri
            div.dance-content 
                div.dance-para
                    p.para1 Manipuri dance form finds its origin to the celestial dance 
                    p of Lord Shiva and Goddess Parvati in the valleys of Manipur. The dance gained prominence with the advent of Vaishnavism in 15th century. Then, Lord Shri Krishna became the central theme of this dance form. It is performed generally by females. Rabindranth Tagore introduced it in Santiniketan. Manipuri dance is unique in its emphasis on devotion and not sensuality. The faces are covered with a thin veil and facial expression is of lesser importance, hand gestures and gentle movement of feet are important. Naga Bandha mudra, in which the body is connected through curves in the shape of 8 is an important posture in Manipuri dance form.
                img(src="/static/img/dance6.jpg")
            div.dance-link
                a(href="/contact") Register Now
        hr 
        div.dance_card 
            div.dance_heading 
                p Kathak
            div.dance-content 
                img(src="/static/img/dance7.jpg")
                div.dance-para
                    p.para1 Kathak is the traditional dance form of Uttar Pradesh. Traces its 
                    p origins from the Ras Leela of Brajbhoomi. Name is derived from Katha (story) and Katthaka (who tells stories). Used to a be temple dance but during the Mughal era,it branched off into court dance. It was also influenced by Persian costumes and styles of dancing. The classical style of Kathak was revived by Lady Leela Sokhey in the 20th century. Jugalbandi is the main attraction of kathak recital which shows a competitive play between the dancer and the table player. Theme- Radha krishna. Dance progresses from slow to fast pieces and has Footwork and spins
            div.dance-link
                a(href="/contact") Register Now
        hr 
        div.dance_card 
            div.dance_heading 
                p Sattriya
            div.dance-content 
                div.dance-para
                    p.para1 Sattriya dance in modern-form was introduced by the Vaishnava 
                    p Sant Shankaradeva in the 15th century A.D in Assam.The art form derives its name from the Vaishnava monasteries known as Sattras where it was primarily practised. It finds mention in the ancient text Natya Shastra‟ of sage Bharat Muni. It is inspired from Bhakti Movement. The dance is generally performed in group by male monks known as Bhokots. In the modern times, Sattriya dance hasevolved into two separate streams the Gayan-Bhayanar Nach and the Kharmanar Nach.
                img(src="/static/img/dance8.jpg")
            div.dance-link
                a(href="/contact") Register Now
        hr
